/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
--primary:#bb1900;
--on-primary:#ffffff;
--primary-container:#ffdad3;
--on-primary-container:#3f0300;
--secondary:#775750;
--on-secondary:#ffffff;
--secondary-container:#ffdad3;
--on-secondary-container:#2c1511;
--tertiary:#6e5c2e;
--on-tertiary:#ffffff;
--tertiary-container:#fae0a6;
--on-tertiary-container:#241a00;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fffbff;
--on-background:#201a19;
--surface:#fff8f6;
--on-surface:#201a19;
--surface-variant:#f5ddd9;
--on-surface-variant:#534340;
--outline:#85736f;
--outline-variant:#d8c2bd;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#362f2d;
--inverse-on-surface:#fbeeeb;
--inverse-primary:#ffb4a6;
--surface-dim:#e4d7d5;
--surface-bright:#fff8f6;
--surface-container-lowest:#ffffff;
--surface-container-low:#fef1ee;
--surface-container:#f8ebe8;
--surface-container-high:#f3e5e3;
--surface-container-highest:#ede0dd;
}

/*prefers color dark*/
@media (prefers-color-scheme: dark) {
  :root{
--primary:#ffb4a6;
--on-primary:#650900;
--primary-container:#8f1100;
--on-primary-container:#ffdad3;
--secondary:#e7bdb5;
--on-secondary:#442a24;
--secondary-container:#5d3f3a;
--on-secondary-container:#ffdad3;
--tertiary:#dcc48c;
--on-tertiary:#3d2e04;
--tertiary-container:#554519;
--on-tertiary-container:#fae0a6;
--error:#ffb4ab;
--on-error:#690005;
--error-container:#93000a;
--on-error-container:#ffb4ab;
--background:#201a19;
--on-background:#ede0dd;
--surface:#181211;
--on-surface:#ede0dd;
--surface-variant:#534340;
--on-surface-variant:#d8c2bd;
--outline:#a08c89;
--outline-variant:#534340;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#ede0dd;
--inverse-on-surface:#362f2d;
--inverse-primary:#bb1900;
--surface-dim:#181211;
--surface-bright:#3f3736;
--surface-container-lowest:#120d0c;
--surface-container-low:#201a19;
--surface-container:#251e1d;
--surface-container-high:#2f2827;
--surface-container-highest:#3b3332;
  }
}